<app-navbar></app-navbar>
<form [formGroup]="loginForm" (ngSubmit)="login()">
   <h3 style="text-align: center;">Sign In</h3>

   <div class="input">
      <label for="name">Email Address</label>
      <input type="text" placeholder="Enter your email" formControlName="email">
   </div>

   <div class="input">
      <label for="name">Password</label>
      <input type="password" placeholder="Enter your password" formControlName="password">
   </div>

   <div class="error" *ngIf="error">
      <p>{{errorMessage}}</p>
   </div>

   <button type="submit">Sign In</button>

   <p>New Customer? <a routerLink="/register">Sign Up</a></p>
</form>