<section>
   <header>
    <h3>Manage Products</h3>
   </header>
   <div class="Products_search">
        <div class="Products_search_pro">
            <input type="text" placeholder="Search product..."/>
            <button type="submit">search</button>
         </div>
   
   </div>
   <hr/>
   <div class="show_products">
    <div class="addButton"><a routerLink="../product/add-products"><button type="button"> <span>+</span> Add New Product</button></a></div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Image Url</th>
            <th>Description</th>
            <th>Price</th>
            <th colspan="2">Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Phone</td>
            <td>3</td>
            <td>./product/product.component.html</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta qui rerum dolorem enim provident totam incidunt amet dignissimos distinctio dicta!</td>
            <td>400ksh</td>
            <td>update</td>
            <td>delete</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Phone</td>
            <td>3</td>
            <td>./product/product.component.html</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta qui rerum dolorem enim provident totam incidunt amet dignissimos distinctio dicta!</td>
            <td>400ksh</td>
            <td>update</td>
            <td>delete</td>
        </tr>
        <tr>
            <td>3</td>
                <td>Phone</td>
            <td>3</td>
            <td>./product/product.component.html</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta qui rerum dolorem enim provident totam incidunt amet dignissimos distinctio dicta!</td>
            <td>400ksh</td>
            <td>update</td>
            <td>delete</td>
        </tr>
    </table>
   </div>
</section>