<app-navbar></app-navbar>
<app-go-back></app-go-back>
<div class="cart-page-container">
    <div class="product-cart-container">
        <div class="products-container">
            <div class="cart-product">
                <div class="product-image">
                    <img src="assets/images/ps5.jpg" alt="product image">
                </div>
                <div class="product-details">
                    <div class="product-title-price">
                        <div>
                            <h2 class="product-title">Play Station 4</h2>
                        </div>
                        <div>
                            <p class="product-price">Price: ksh 40,000</p>
                        </div>
                    </div>
                    <div class="product-delete-btn">
                        <button class="delete-btn" type="button">
                            <span class="material-icons" title="Remove from cart">delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="cart-total-items">
                <h1>Total For( ) items:</h1>
                <h2> Ksh 0</h2>
            </div>
            <div class="line-separator"></div>
            <div class="cart-checkout-btn">
                <button class="checkout-btn" type="button">
                    <a href="/checkout.html">
                        <span class="material-icons" title="checkout">payment</span>
                    </a>
                    Checkout
                </button>
            </div>
        </div>
    </div>
</div>