.container{
    width: 80vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.content{
    width: 60%;
    height: 80%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.right{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.left img{
    width:100%;
    height:100%;
}

.left{
    width: 48%;
    height: 100%;
   
}

.right p{
    font-size: 20px;
}

button{
    color: white;
    background-color: green;
    padding: 10px 16px;
    border-style: none;
    width: 100px;
    border-radius: 5px;
}