<section>
    <header>
     <h3>Manage Soft Deleted Users</h3>
    </header>
    <div class="Products_search">
         <div class="Products_search_pro">
             <input type="text" placeholder="Search User..."/>
             <button type="submit">search</button>
          </div>
    
    </div>
    <hr/>
    <div class="show_products">
     <!-- <div class="addButton"><button type="button"> <span>+</span> Add New User</button></div> -->
     <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th >Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Samuel Waweru</td>
            <td>samuel@gmail.com</td>
            <td>Admin</td>
            <td>Restore</td>
    
        </tr>
        <tr>
            <td>2</td>
            <td>Samuel Waweru</td>
            <td>samuel@gmail.com</td>
            <td>Admin</td>
            <td>Restore</td>
         
        </tr>
        <tr>
            <td>3</td>
            <td>Samuel Waweru</td>
            <td>samuel@gmail.com</td>
            <td>Admin</td>
            <td>Restore</td>
            
        </tr>
    </table>
    </div>
 </section>