<section class="policy-product">
    <h2>GadgetHub Store</h2>
      <div class="containers">
        <div class="row">
          <div class="col">
            <div class="policy-p-card">
              <div class="date">
                <h3>{{day}}</h3>
              <h4>{{month}}</h4>
              <h4>{{year}}</h4>
              </div>
              <div class="policy-img">
                <img src="../../../assets/images/products.jfif" alt="image">
              </div>
              <h2>Total Products</h2>
              <h2>789</h2>
              <a routerLink="../product"  class="read-more">Manage Products <i class="fa fa-caret-right"></i></a>
            </div>
            
          </div>
          <div class="col"> <div class="policy-p-card">
            <div class="date">
              <h3>{{day}}</h3>
              <h4>{{month}}</h4>
              <h4>{{year}}</h4>
            </div>
            <div class="policy-img">
              <img src="../../../assets/images/orders.jfif" alt="image">
            </div>
            <h2>Total Orders</h2>
            <h2>400</h2>
            <a routerLink="../orders"  class="read-more">Manage Orders <i class="fa fa-caret-right"></i></a>
          </div></div>
    
          <div class="col"> <div class="policy-p-card">
              <div class="date">
                <h3>{{day}}</h3>
                <h4>{{month}}</h4>
                <h4>{{year}}</h4>
              </div>
              <div class="policy-img">
                <img src="../../../assets/images/pesrsons.png" alt="image">
              </div>
              <h2>Total Users</h2>
              <h2>300</h2>
              <a routerLink="../users" class="read-more">Manage Users <i class="fa fa-caret-right"></i></a>
            </div></div>
        </div>
      </div>
    </section>
  