* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.content {
  width: 70%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form styles start */


.form-group {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  background-color: hsl(257, 71%, 15%);
}

.heading h2 {
  color: white;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.label-control{
  text-align: left;

}
.input-control{
  display: flex;
}

.input-control input {
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  width: 350px;
  outline: none;
  background-color: #D9D9D9;

}

button:hover {
  cursor: pointer;
}

.btn-style{
  display: flex;
  justify-content: flex-end;
}
.btn-style button {
  background-color: hsl(257, 71%, 15%);
  border-radius: 10px;
  height: 2.5rem;
  width: 100px;
  border: none;
  color: white;
}

/* Form stytles end */
/* Validation start */

.error {
  color: red;
  width: 70%;

}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

select.ng-invalid.ng-touched {
  border: 2px solid red;
}

form button:disabled {
  background-color: grey;
  color: white;
}

