<div class="content">
    <div class="left">
        <img src="https://imgs.search.brave.com/RXGbu7H62Myf-n35HIPXL2_kpJNhVSYLeVvRVw0KL74/rs:fit:1200:876:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuZ2FtZXdhdGNo/ZXJzdGF0aWMuY29t/L2ltYWdlL2ZpbGUv/My9iMS8xMTIwNTMv/Z2FsbGVyeTAzLTAx/LWZ1bGwtMngtdjIt/Mi5qcGc" alt="">
    </div>
    <form [formGroup]="addProduct" (ngSubmit)="AddProduct()">
    <div class="right">
      
        <h1> Add a New Product</h1>
        <Label>Name</Label>
        <input type="text" formControlName="name" />

        <Label>Description</Label>
        <input type="text" formControlName="description" />

        <Label>Image</Label>
        <input type="text" formControlName="image" />

          <Label>Price</Label>
        <input type="text" formControlName="price" />

        <button type="submit"> Submit Data</button>
    
    </div>
</form>
</div>