<a routerLink="/products/{{product!.id}}">
    <div class="image">
        <img src={{product!.image}} alt="product image">
    </div>
    <div class="title">
        <h3>{{product!.name}}</h3>
    </div>
    <div class="price">
        <p>{{product!.price | currency:"Ksh "}}</p>
    </div>
</a>
<div class="add-to-cart">
    <button class="add-to-cart-btn" type="button" *ngIf="!authService.isLoggedIn" routerLink="/login">
        <span class="material-icons" title="add to cart">add_shopping_cart</span>
        Add to Cart
    </button>
    <button class="add-to-cart-btn" type="button" *ngIf="authService.isLoggedIn" (click)="addToCart()" >
        <span class="material-icons" title="add to cart">add_shopping_cart</span>
        Add to Cart
    </button>
</div>