<app-navbar></app-navbar>
<app-go-back></app-go-back>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div class="order-container" *ngIf="!loading">
    <div class="order-details">
        <div class="cart-details">
            <p class="order-id">Order ID: {{ order.id }}</p>
            <hr>
            <!-- <p class="shipping-address">Shipping To: {{ order.shippingAddress }}</p> -->
            <p class="shipping-address">Shipping To: Not Specified</p>

            <hr>
            <!-- <p class="payment-method">Payment Method: {{ order.paymentMethod }}</p> -->
            <p class="payment-method">Payment Method: M-pesa Xpress</p>
            <hr>
            <p class="payment-status pending">Payment Status: <span class="pending">{{ order.paymentResultStatus
                    }}</span></p>
        </div>
    </div>
    <!-- 
        <div class="products-container">
                <div class="cart-product" *ngFor="let orderProduct of orderProducts">
                    <div class="product-image">
                        <img src={{orderProduct.image}} alt="product image">
                    </div>
                    <div class="product-details">
                        <div class="product-title-price">
                            <div>
                                <h2 class="product-title">{{orderProduct.name}}</h2>
                            </div>
                            <div>

                                <p class="product-qty">Qty: {{getorderProductQty(orderProduct.id)}}</p>
                            </div>
                            <div>
                                <p class="product-price">@{{orderProduct.price | currency:"Ksh "}}</p>
                            </div>
                        </div>
                        <div class="product-delete-btn">
                            <button class="delete-btn" type="button" (click)="deleteCartItem(orderProduct.id)">
                                <span class="material-icons" title="Remove from cart">delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
     -->
    <div class="order-summary">
        <p class="title">Order Summary</p>
        <hr>
        <div class="shipping-summary">
            <!-- <p class="shipping-price">Shipping: {{ order.shippingPrice }}</p> -->
            <p class="shipping-price">Shipping: Not Set</p>
        </div>
        <hr>
        <div class="tax-summary">
            <!-- <p class="tax-price">Tax: Ksh {{ order.taxPrice }}</p> -->
            <p class="tax-price">Tax: Not Set</p>

        </div>
        <hr>
        <div class="total-summary">
            <p class="total-price">Total: Ksh {{ order.totalPrice }}</p>
        </div>
        <hr>
        <!-- TODO: Dynamicaly change the payment method -->
        <p class="payment-option">Pay With M-pesa Xpress</p>
        <input type="text" class="phone-number" placeholder="Enter your M-Pesa number" [(ngModel)]="phoneNumber">
        <button class="place-order-button" (click)="pay()" disabled>Pay</button>
    </div>
</div>