<section>
    <header>
     <h3>Manage Orders</h3>
    </header>
    <div class="Products_search">
         <div class="Products_search_pro">
             <input type="text" placeholder="Search product..."/>
             <button type="submit">search</button>
          </div>
    
    </div>
    <hr/>
    <div class="show_products">
     <div class="addButton"><a routerLink="../orders/add-order"><button type="button"> <span>+</span> Add New Order</button></a></div>
     <table>

         <tr>
             <th>User Id</th>
             <th>Shipping Address </th>
             <th>Payment Method</th>
             <th>Price</th>
             <th colspan="2">Delivery Status</th>
             <th colspan="2">Action</th>
         </tr>
         <tr>
             <td>1</td>
             <td>nyeri234</td>
             <td>Mpesa</td>
             <td>400ksh</td>
             <td>Pending</td>
             <td>Delivered</td>
             <td>update</td>
             <td>delete</td>
         </tr>
         <tr>
            <td>2</td>
            <td>nyeri234</td>
            <td>Mpesa</td>
            <td>400ksh</td>
            <td>Pending</td>
            <td>Delivered</td>
            <td>update</td>
            <td>delete</td>
        </tr>
        <tr>
            <td>3</td>
            <td>nyeri234</td>
            <td>Mpesa</td>
            <td>400ksh</td>
            <td>Pending</td>
            <td>Delivered</td>
            <td>update</td>
            <td>delete</td>
        </tr>
     </table>
    </div>
 </section>