<div class="navbar">
    <div class="logo">
        <img src="https://imgs.search.brave.com/9T51gK0gNyaYUe3W-cFtGyt0veMQ9CzEtv0WWjgXjdk/rs:fit:1582:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5X/WXNVLXo4Z3M1Sl9H/YXZsQmZsLWpBSGFD/TyZwaWQ9QXBp" alt="">
    </div>
    
    <div class="links">
        <a routerLink="" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a *ngIf="authService.isLoggedIn" routerLink="products/add/new" routerLinkActive="active">Add Product</a>
        <a *ngIf="authService.isLoggedIn" [routerLink]="['products']" routerLinkActive="active">Products</a>
    </div>
    
    <div class="auth">
        <a routerLink="login" *ngIf="!authService.isLoggedIn">Login</a>
        <a *ngIf="authService.isLoggedIn" (click)="authService.logout()">Logout</a>
    </div>
    </div>

    <router-outlet></router-outlet>
    
    