<app-navbar></app-navbar>
<div class="nav">
    <a routerLink="/login">Sign In</a>
    <a routerLink="/shipping" disabled>Shipping</a>
    <a routerLink="/payment" disabled>Payment Method</a>
    <a routerLink="user/orders/{{orderId}}">Place Order</a>
</div>
<form>
    <div class="form">
        <h3>Payment Method</h3>
        <p>Select method</p>
        <div class="radio">
            <input type="radio" id="mpesa" name="mpesa" value="Mpesa" checked>
            <label for="mpesa">M-pesa Xpress</label><br>
        </div>
        <div class="radio">
            <input type="radio" id="credit" name="credit" value="Credit-Card">
            <label for="credit">Credit Card</label><br>
        </div>
        <button>Continue</button>
    </div>
</form>