
<!-- http://localhost:4200/addProduct/34/single/update -->
<!-- <a (click)= "LoadAdd()">Show product 2</a> -->

<!-- Absolute Path --> 
<!-- http://localhost:4200/addProduct -->

<!-- Relative -->
<!-- http://localhost:4200/products/addProduct -->
<!-- 
<div class="container" *ngIf="!show; noProducts ">
    <div class="left">
        <li *ngFor="let c of categories" (click)="showProducts(c)">{{c}}</li>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

 
</div>

<ng-template #noProducts>
    <p>Loading...</p>
</ng-template>

<div class="error" *ngIf="errorState">
    <p>{{errorMessage}}</p>
</div> -->