div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

button {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);
  cursor: pointer;
}

button a {
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: var(--active);
}
