<div class="content">

<div class="heading">
<h2>MY ORDERS</h2>
</div>
<table class="customers">
  <tr>
    <th>ID</th>
    <th>DATE</th>
    <th>TOTAL</th>
    <th>PAID</th>
    <th>DELIVERED</th>


  </tr>
  
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td>{{order.updatedAt|date:"short"}}</td>
    <td>{{order.totalPrice}}</td>
    <td>{{order.isPaid}}</td>
    <td>{{order.isDelivered}}</td>
    <td><button routerLink="/user/orders/{{order.id}}" >DETAILS</button></td>
  </tr>
</table>
<div ng-show="!orders.length" style="display:none">You have no orders yet</div>

</div>
