* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.customers button{
  background-color: hsl(257, 71%, 15%);
  color: white;
  border-radius: 5px;
  width: 5rem;
  height: 3rem;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 80%;
  background-color: hsl(257, 71%, 15%);
  border-radius: 5px;

}

.heading h2 {
  color: white;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

table {
  /* border-radius: 10px; */
  border-spacing: 30px;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 16px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: hsl(0, 0%, 87%);
}

.customers th {
  padding: 12px 0px;
  text-align: center;
  background-color: hsl(257, 71%, 15%);
  color: white;
  border-radius: 5px;
}

table button:hover{
  cursor: pointer;
}