.nav {
  border: 1px solid #d9d9d9;
  background-color: white;
  width: 60rem;
  padding: 1.8rem;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: black;
}
a:disabled {
  color: #d9d9d9;
  cursor: not-allowed;
}
h3 {
  font-size: 30px;
  padding: 1rem;
}
p {
  font-size: 16px;
  font-weight: bold;
}
form {
  width: 50rem;
  height: 60vh;
  margin: 40px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  gap: 10px;
  background-color: white;
}
.form {
  display: flex;
  gap: 10px;
  width: 70%;
  /* justify-content: center; */
  flex-direction: column;
}
button {
  padding: 0.8rem;
  width: 12rem;
  border: none;
  border-radius: 0.4rem;
  color: white;
  background-color: #1a0b41;
  font-size: 18px;
}
.input {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
input {
  padding: 1.5rem;
  background-color: #d9d9d9;
  border: none;
}
