<app-navbar></app-navbar>
<div class="nav">
    <a routerLink="/login" >Sign In</a>
    <a routerLink="/shipping" disabled>Shipping</a>
    <a routerLink="/payment" disabled>Payment Method</a>
    <a routerLink="user/orders/{{orderId}}">Place Order</a>
</div>
<form>
    <div class="form">
        <h3>Shipping</h3>
        <!-- <p>Select method</p> -->
        <div class="input">
            <label for="city">City/Town</label>
            <input type="text" placeholder="Enter your city or town of residence" formControlName="">
         </div>
         <div class="input">
            <label for="address">Address</label>
            <input type="text" placeholder="Enter your physical location" formControlName="">
         </div>
        <button>Continue</button>  
    </div>
</form>


