<div class="customer">
  <header>
    <div class="nav-bar">
      <nav>
        <ul>
          <div class="left-navbar">
            <li><a routerLink="" class="current-page">
                <h2>GadgetHub</h2>
              </a></li>
            <!-- <li><input type="text" placeholder="search a product"></li> -->
          </div>
          <div class="right-navbar">
            <!-- <li><a><i class="fa fa-address-book" aria-hidden="true"></i></a></li>
          <li><a routerLink="/editProfile">Customer</a></li>
          <li><a href="#"><span class="material-symbols-outlined">
                person
              </span></a></li> -->
            <!-- <span class="material-symbols-outlined">
            person
          </span>
          <span class="material-symbols-outlined">
            add_circle
          </span> -->
          </div>

        </ul>
      </nav>
    </div>

  </header>

  <div class="main">
    <div class="one">
      <div class="container">
        <h3>Dashboard</h3>
        <hr />
        <div class="profile">
          <div class="profile-start">
            <img
              src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80"
              alt="" />
          </div>
          <div class="profile-end">
            <h4>{{this.user?.name}}</h4>
            <p>{{this.user?.email}}</p>
          </div>
        </div>
        <div class="sub-container">
          <h4>General</h4>
          <hr />
          <div class="sub-container-1">
            <ul>

              <div class="ul-style">
                <li><a routerLink="dashboard/edit-profile">Edit Profile</a></li>
                <li><a routerLink="dashboard/my-orders">My Orders</a></li>
              </div>

              <div class="logout">
                <li><i class="fa fa-sign-out" aria-hidden="true"></i><a (click)="authService.logout()">Logout</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>

    </div>


    <div class="two">
      <router-outlet></router-outlet>

    </div>
  </div>

</div>