<app-navbar></app-navbar>
<app-go-back></app-go-back>
<div class="cart-page-container">
    <app-loading-spinner *ngIf="cartItems.length===0"></app-loading-spinner>
    <!-- TODO: Proper check for empty cart -->
    <div class="empty-cart-container" *ngIf="cartItems.length===0">
        <h2>No Items in Cart</h2>
        <button>
            <a routerLink="/">
                <span class="material-icons" title="Go to products">shopping_cart</span>
                Start Shopping
            </a>
        </button>
    </div>
    <div class="product-cart-container" *ngIf="cartItems.length>0">
        <div class="products-container">
            <div class="cart-product" *ngFor="let cartProduct of cartProducts">
                <div class="product-image">
                    <img src={{cartProduct.image}} alt="product image">
                </div>
                <div class="product-details">
                    <div class="product-title-price">
                        <div>
                            <h2 class="product-title">{{cartProduct.name}}</h2>
                        </div>
                        <div>
                            <!-- TODO: Add functionality to edit qty -->
                            <p class="product-qty">Qty: {{getCartProductQty(cartProduct.id)}}</p>
                        </div>
                        <div>
                            <p class="product-price">@{{cartProduct.price | currency:"Ksh "}}</p>
                        </div>
                    </div>
                    <div class="product-delete-btn">
                        <button class="delete-btn" type="button" (click)="deleteCartItem(cartProduct.id)">
                            <span class="material-icons" title="Remove from cart">delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="cart-total-items">
                <h1>Total For({{cartItems!.length}}) items:</h1>
                <h2>{{cartTotal | currency:"Ksh "}}</h2>
            </div>
            <div class="line-separator"></div>
            <div class="cart-checkout-btn">
                <button class="checkout-btn" type="button" (click)="checkOut()">
                    <a href="/checkout.html">
                        <span class="material-icons" title="checkout">payment</span>
                    </a>
                    Checkout
                </button>
            </div>
        </div>
    </div>
</div>