
<section>
  <header>
   <h3>Add A New Order</h3>
  </header>

  <hr/>


  <div class="show_products">
   <div class="addButton"><a routerLink="../../orders"><button type="button"> Manage Orders</button></a></div>
   <div class="form">
    <form [formGroup]="OrderForm">
      <div class="form-group">
        <label>Shipping Adress</label>
        <input formControlName="shippingAddress" type="text" />
      <span> <small *ngIf="OrderForm.controls['shippingAddress'].dirty && OrderForm.hasError('required','shippingAddress')">Kindly add text to the input field</small></span> 
      </div>
      <div class="form-group">
        <label>Payment Method</label>
        <input formControlName="paymentMethod" type="text" />
        <span><small *ngIf="OrderForm.controls['paymentMethod'].dirty && OrderForm.hasError('required','paymentMethod')">Kindly add text to the input field</small></span> 
      </div>
      <div class="form-group">
        <label>Total Price</label>
        <input formControlName="totalPrice" type="email" />
        <span><small *ngIf="OrderForm.controls['totalPrice'].dirty && OrderForm.hasError('required','totalPrice')">Kindly add text to the input field</small></span> 
      </div>
    
      <div class="form-group">
        <input (click)="onSubmit()" type="submit"  value="Submit">
      </div>
    </form>
   </div>
 
  </div>
</section>