<div class="container">
    <div class="content">
        <div class="left">
            <img src="https://cdn.shopify.com/s/files/1/0508/6747/0494/files/CG_Doc_Header_v5_2x_6e375c2a-e113-41f4-99ec-57892f69fb73.jpg?v=1631291254"
                alt="Roccat" />
               
        </div>

        <div class="right">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic dolores asperiores, incidunt amet assumenda
               e, quasi consequatur accusamus. Libero ullam soluta qui maiores
                quisquam tenetur. Iusto distinctio aliquam asperiores. Libero, quae? Laborum, iste. Ex possimus libero
                tempore impedit dignissimos expedita nemo aliquid exercitationem quis. Sequi labore repellat autem quas
                magni perferendis explicabo neque! Harum, odit quo! Ad cupiditate modi ipsam ab officiis dolor ea porro
                rem quas perferendis aut voluptatibus deserunt, quia laborum aspernatur similique odio. Fugit quisquam
                cum maiores labore inventore illum officia pariatur ipsum, excepturi porro voluptas error aliquam neque.

                
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <div class="left1">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic dolores asperiores, incidunt amet assumenda
                nihil, fugit dicta ut, aliquid iure facere! Dicta corporis beatae eum ipsam ad modi officiis expedita
                amet, animi hic quos perspiciatis similique eaque odit possimus eligendi doloremque nostrum eos
                consequatur, ab repudiandae. Ab, tempore sunt. Nulla, explicabo odit voluptatum aut aspernatur nihil,
                sunt similique provident ex corporis consequatur repudiandae necessitatibus laboriosam velit
             it? d cupiditate modi ipsam ab officiis dolor ea porro
                rem quas perferendis aut voluptatibus deserunt, quia laborum aspernatur similique odio. Fugit quisquam
                cum maiores labore inventore illum officia pariatur ipsum, excepturi porro voluptas error aliquam neque.

                
            </p>
               
        </div>

        <div class="right1">
            
            <img src="https://i.shgcdn.com/4d709b4f-cc11-4984-9fb7-03405cfa2f74/-/format/auto/-/preview/3000x3000/-/quality/best/"
                alt="Roccat" />
        </div>
    </div>
</div>